@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ----------------------------------------------------------------------------
''' Root settings '''
-----------------------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --secondary: #717ff5;
  --bgColor: #f6f9ff; 
}

#main {
  margin-top: 60px; /* matches your header height */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (min-width: 1200px) {
  #main {
    margin-left: 300px; /* matches sidebar width */
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  background: var(--bgColor);
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}